@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap);.back .contenitore,
.hero,
header nav {
  max-width: 1150px;
}

.back .contenitore .cons,
.back .contenitore {
  padding: 100px 0;
}

header nav {
  margin: auto;
  padding: 20px 0;
  border-bottom: solid 1px #909090;
  display: flex;
  justify-content: space-between;
}

header nav .nav_btn ul li {
  display: inline-block;
  margin: 0 30px;
}

header nav .nav_btn ul li a {
  text-transform: capitalize;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}

.hero .hero_text {
  width: 46%;
  padding-right: 40px;
}

.hero .hero_text h1 {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 40px;
  font-weight: 600;
}

.hero .hero_text h3 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 40px;
}

.hero .hero_text .hero_text_btn {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero .hero_text .hero_text_btn p {
  margin: 0 10px;
  opacity: 0.6;
  font-size: 14px;
}

.hero .hero_text .hero_text_btn a {
  background: #30488f;
  padding: 10px 20px;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.hero .hero_img {
  width: 46%;
}

.hero .hero_img img {
  width: 100%;
  height: auto;
}

.back {
  background: #ffe7d2;
}

.back .contenitore {
  margin: auto;
  text-align: center;
}

.back .contenitore h3 {
  font-size: 40px;
  padding: 0 40px;
}

.back .contenitore .cons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.back .contenitore .cons .cons_single {
  width: 30%;
  font-size: 1.125rem;
}

.back .contenitore .cons .cons_single img {
  width: 160px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #58402c;
}

