@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap);.back .contenitore,
.hero,
header nav {
  max-width: 1150px;
}

.service.right,
.service.left,
.back .contenitore .cons,
.back .contenitore {
  padding: 100px 0;
}

.service.right .text-service,
.service.left .text-service {
  width: 40%;
  padding-left: 30px;
}

.service.right .text-service h3,
.service.left .text-service h3 {
  font-size: 26px;
}

.service.right .text-service h5,
.service.left .text-service h5 {
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
  padding-right: 30px;
}

.service.right .text-service a,
.service.left .text-service a {
  display: block;
  font-size: 22px;
  margin-bottom: 50px;
}

.service.right .text-service img,
.service.left .text-service img {
  display: block;
  margin: auto;
}

header nav {
  margin: auto;
  padding: 20px 0;
  border-bottom: solid 1px #909090;
  display: flex;
  justify-content: space-between;
}

header nav .nav_btn ul li {
  display: inline-block;
  margin: 0 30px;
}

header nav .nav_btn ul li a {
  text-transform: capitalize;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}

.hero .hero_text {
  width: 46%;
  padding-right: 40px;
}

.hero .hero_text h1 {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 40px;
  font-weight: 600;
}

.hero .hero_text h3 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 40px;
}

.hero .hero_text .hero_text_btn {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero .hero_text .hero_text_btn p {
  margin: 0 10px;
  opacity: 0.6;
  font-size: 14px;
}

.hero .hero_text .hero_text_btn a {
  background: #30488f;
  padding: 10px 20px;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.hero .hero_img {
  width: 46%;
}

.hero .hero_img img {
  width: 100%;
  height: auto;
}

.back {
  background: #ffe7d2;
}

.back .contenitore {
  margin: auto;
  text-align: center;
}

.back .contenitore h3 {
  font-size: 26px;
  width: 60%;
  margin: auto;
  font-weight: 600;
}

.back .contenitore .cons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.back .contenitore .cons .cons_single {
  width: 30%;
  font-size: 1.125rem;
}

.back .contenitore .cons .cons_single img {
  width: 150px;
  margin-bottom: 20px;
}

.back .contenitore .cons .cons_single.slim img {
  width: 60px;
}

.back .contenitore .cons_big img {
  width: 280px;
}

.service.left {
  display: flex;
  flex-direction: row;
}

.service.left .big-img {
  width: 50%;
  margin-left: -2%;
}

.service.left .big-img img {
  width: 100%;
  height: auto;
}

.service.right {
  display: flex;
  flex-direction: row-reverse;
}

.service.right .big-img {
  width: 50%;
  margin-right: -2%;
}

.service.right .big-img img {
  width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #58402c;
}

