
header{
  background: white;
  nav{
    max-width: $max;
    margin: auto;
    padding: 20px 0 15px 0;
    border-bottom: solid 1px rgb(144, 144, 144);
    display: flex;
    justify-content: space-between;
    z-index: 999;

    .nav_btn ul{
        .rel{
          padding:10px 0;
        }
          li{
            display: inline-block;
            margin:0 30px;
            a{
              font-size: $small;
              text-transform: capitalize;
              font-weight: 600;
            }
            .rel{
              position: relative;
            }
            .sub-nav{
              display: none;
              position: absolute;
              background: white;
              margin-top: 58px;
              top:0;
              border:solid 1px rgb(189, 189, 189);
              box-shadow: 2px 2px 5px rgb(189, 189, 189);
              border-radius: 8px;
              li{
                margin-right: 30px;
                margin-left: 10px;
                display: block;
                padding: 15px 20px 15px 10px;
              }
            }
        }
      }
  }
}

// .fix nello styile.scss




.hero{
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  max-width: $max;
  .hero_text{
    width: 46%;
    padding-right: 40px;
    h1{
      font-size: 50px;
      line-height: 70px;
      margin-bottom: 40px;
      font-weight: 600;
    }
    h3{
      font-weight: normal;
      font-size: 25px;
      margin-bottom: 40px;
    }
    @include btn-login;
  }
  .hero_img{
    width: 46%;
    img{
        width: 100%;
        height: auto;
    }
  }
  a{
    i{
      font-size: 13px;
      margin-left: 8px;
    }
  }

}
