.service.left{
  display: flex;
  flex-direction: row;
  @extend %pt-pb;
  @extend %servizio;
  .big-img{
    width: 50%;
    margin-left: -2%;
    img{
      width:100%;
      height: auto;
    }
  }

}

.service.right{
  display: flex;
  flex-direction: row-reverse;
  @extend %pt-pb;
  @extend %servizio;
  .big-img{
    width: 50%;
    margin-right: -2%;
    img{
      width:100%;
      height: auto;
    }
  }
}


.testimonial.back{
  background: $main-color;
  .contenitore{
    @extend %max;
    margin: auto;
    @extend %pt-pb;
    h3{
      font-size: $large;
      width: 60%;
      margin:auto;
      font-weight: 600;
      margin-bottom: 50px;
      text-align: center;

    }
    .box{
      position: relative;
      margin:auto;
      width: 50%;
      background: white;
      margin-bottom: 50px;
      padding:40px;
      font-size: 18px;
      text-align: left;
      font-weight: lighter;
      .box_text{
        margin-bottom: 25px;
        img{
          position: absolute;
          top:-20px;
          left:0;
          max-width: 37px;
        }
      }
      .box_img{
        display: flex;
        flex-wrap: wrap;
        img{
          margin-right: 15px;
          max-width: 50px;
        }
        .nomi{
          font-size: 20px;
        }
        .ruolo{
          font-size: $small;
        }
      }

    }
    @include btn-login(center);
  }
  a{
    .fa-arrow-right{
      font-size: 13px;
      margin-left: 8px;
    }
  }

}
