.back{
  background: $main-color;
  .contenitore{
    @extend %max;
    margin: auto;
    text-align: center;
    @extend %pt-pb;
    h3{
      font-size: 26px;
      width: 60%;
      margin:auto;
      font-weight: 600;
    }
    .cons{
      @extend %pt-pb;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      .cons_single{
        width: 30%;
        font-size: 1.125rem;
        img{
          width:150px;
          margin-bottom: 20px;
        }
      }
      .cons_single.slim img{
        width: 60px;
      }
    }
    .cons_big img{
      width:280px;
    }

  }
}
