@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');

$main-color: #ffe7d2;
$brown : rgb(88, 64, 44);
$small : 14px;
$medium : 26px;
$large: 40px;
$learn : 22px;

$max : 1150px;

$just : flex-start;
$margin-neg : -2%;


%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%max{
  max-width:1150px;
}
%pt-pb{
  padding: 100px 0;
}
//style big image and text about services
%servizio{
  .text-service{
    width: 40%;
    padding-left: 30px;
    h3{
      font-size: $medium;
    }
    h5{
      font-size: 24px;
      font-weight: 400;
      margin:40px 0;
      padding-right: 30px;
    }
    a{
      display: flex;
      align-items: center;
      font-size: $learn;
      margin-bottom: 50px;
    }
    img{
      display: block;
      margin: auto;
    }
    i{
      font-size: 19px;
      margin-left: 8px;
    }
  }

}

//login buttons
@mixin btn-login($justify : $just){
  .hero_text_btn{
    display: flex;
    align-items: center;
    justify-content: $justify;
    margin-bottom: 30px;
    p{
      margin: 0 10px;
      opacity: 0.6;
      font-size: $small;
    }

    a{
     background: #30488f;
     padding: 10px 20px;
     color: white;
     text-align: center;
     display: inline-block;
     border-radius: 8px;
   }
   i{
     font-size: 20px;
     color: white;
     margin-right: 10px;
   }
  }
}




@import "header";
@import "sections";
@import "main-section";
@import "footer";

body{
  overflow-x: hidden;
}

*{
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  text-decoration: none;
  color: $brown;
}


.fix{
  position: fixed;
  width: 100%;
  top:0;
  box-shadow: 1px 1px 3px rgb(186, 186, 186);
  border-bottom: none;
}
